body {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 40px;
  justify-content: space-evenly;
}

form {
  display: flex;
  align-self: center;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.fullname {
  display: flex;
}

.flex {
  display: flex;
  flex-direction: row;
}